.page {
  width: 1100px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 38px;
  min-height: 293px;
  margin: 0;
  padding: 90px 50px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  min-width: 148px;
  min-height: 105px;
}

.header__logo-image {
  width: 94%;
}
.address {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  list-style: none;
  text-underline-offset: 5px;
  overflow-wrap: break-word;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  display: flex;
  flex-direction: column;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 757px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: #000000;
  opacity: .6;
  position: absolute;
    top: 0;
    left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 165px 50px 0px;
  color: #FFFFFF;
  z-index: 2;
}

.aligned-text {
  font-size: 100px;
  font-weight: bold;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 0;
  padding: 0 50px 50px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.86em;
  text-transform: uppercase;
  z-index: 2;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 723px;
  margin: 180px 24px 0;
  padding: 0;
  overflow-wrap: anywhere;
}

.lots__heading {
  margin: 0 auto 0 40px;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 30px 0;
  box-sizing: border-box;
}

.lots__card-list-item {
  display: flex;
  width: 100%;
  min-height: 596px;
  list-style: none;
  position: relative;
}

.card-link {
  height: auto;
  padding: 0;
  color:#FFFFFF;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 48px 40px;
  gap: 30px;
  z-index: 2;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card__title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  z-index: 2;
}

.card__text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  z-index: 2;
}

.lots__look-more-link {
  margin: 0 auto 0 40px;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  margin: 120px 24px 180px;
  padding: 35px 0 0;
  gap: 20px;
  min-height: 595px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.about__logo {
  align-self: center;
  background-color: #000000;
  border-radius: 50%;
  min-height: 240px;
  min-width: 240px;
  position: relative;
  z-index: 1;
}

.about__logo-image {
  display: block;
  margin: auto;
  inset: 0;
  width: 63%;
  position: absolute;
}

.about__column_descriptive-part {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 100px;
}

.about__title {
  color: #000000;
  line-height: 100%;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
  color: #000000;
  line-height: 24px;
  font-size: 20px;
  font-weight: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 140px;
  min-height: 180px;
  margin: 0;
  padding: 0 50px 80px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-self: stretch;
  margin: 0;
  padding: 0;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;
}

.footer__menu-list-item {
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  min-width: 48px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 100%;
}